
body {
    background-image: url("pinkhair.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 3%;
  }

  .title  {
      font-family: cursive;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: gray;
      font-size: 80px;
  }
.text {
    padding-top: 25%;
    text-align: center;
    margin-right: 80%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    font-size: 75px;
    font-family: sans-serif;

}
.nav-link {
    color: gray;
    font-weight: 700;
    text-shadow: grey;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
    font-family: sans-serif;
}
.center {
    padding-left: 50%;
}

.galbod {
    background-color: purple;
    background-image: none;
}
.outerslide{
    background-color: red;
}
.innerslide {
    background-color: black;
    max-width: 100%;
    max-height: 100%;
}
.picdiv{
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.pics {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 50%
}
.slidediv {
    margin-top: 10px;
    margin-left: 18%;
    border: 7px solid black;
}
.slidediv, .innerdiv, .imgdiv {
    height: 525px;
    width: 700px;
    border: 5px solid black;
}
.galnav, .galtitle {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightpink;
}
.galbook {
    margin-top: 15px;
    margin-left: 45%;
    color: lightpink;
}
.book {
    background-image: url("BOWIEQUOTE.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
      /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.sl {
    margin-left: 55%;
    margin-top: 20px;
    width: 500px;
    padding-top: 1px;
}
.servline {
    color: red;
    width: 75%;
    height:1px;
    border-width: .5px;
    background-color: red;
    
}
.mainservline {
    height:2px;
    border-width: 1px;
    color:red;
    background-color: red;
}
.subserv {
    font-style: italic;
}
/* For size adjustments*/

/* For size adjustments

@media all and (max-width: 768px) {
    html, body {min-height: 100%;}
    .container, body{
        width:100%;
        height: 100%;
    }
    .maintext, .sl, #carouselExampleControls, .galbook
    {
        left:25%;
        top:25%;
        position:absolute;
        width:50%;
        text-align:center;
    }
    .maintext, .sl, #carouselExampleControls, .galbook {
        text-align:center;
         display: block;
        margin: 0 auto;
    }
    .sl {
        padding-top: 7%;
    }
    #carouselExampleControls {
        width: 50%;
        height: 30%;
        margin-top: 50px;
    }
    .book {
        background-color: purple; /* Used if the image is unavailable 
        background-image: none;
        padding-top: 3%;
        height: 100%;
}
}
@media all and (max-width:640px){
    html, body {min-height: 100%;}
    .container, body{
        width:100%;
        height: 100%;
    }
    .maintext, .sl, #carouselExampleControls, .galbook
    {
        width:50%;
        height:auto;
        display:inline-block;
        text-align:center;
        margin: 0 auto;
    }
    .maintext, .sl, #carouselExampleControls, .galbook {
        text-align:center;
         display: block;
         margin: 0 auto;
    }
    .sl {
        padding-top: 7%;
    }
    #carouselExampleControls, .innerdiv, .imgdiv {
        width: 400px;
        height: 450px;    
    }
    #carouselExampleControls {
        margin-top: 50px;
        margin-left: -10%;
    }
    .galbook {
        margin-top: 95%;
    }
    .book {
        background-color: purple; /* Used if the image is unavailable 
        background-image: none; /* Do not repeat the image 
        padding-top: 3%;
        height: 100%;
}
}*/

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    body {
    max-width: 100%;
    height: auto;
    }
.book {
    background-color:black;
    background-image: none;
}
.testserv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
}
.imgdiv{
    width: 450px;
    margin: 0 auto;
}
.innerdiv {
    width: 450px;
    margin: 0 auto;
}
#carouselExampleControls {
    width: 450px;
    margin: 0 auto;
 }
}
/*// Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
        .book {
            background-color:black;
            background-image: none;
        }
    .testserv {
        margin-right: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180%;
    }
    .imgdiv{
        width: 500px;
        margin: 0 auto;
    }
    .innerdiv {
        width: 500px;
        margin: 0 auto;
    }
    #carouselExampleControls {
        width: 500px;
        margin: 0 auto;
     }
    
 }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
        .testserv {
            position: relative;
            left: -100px; 
           
        }
        .imgdiv{
            max-width: 900px;
            margin: 0 auto;
        }
        .innerdiv {
            max-width: 900px;
            margin: 0 auto;
        }
        #carouselExampleControls {
            max-width: 900px;
            margin: 0 auto;
         }
 }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
    .about {
        background: url('BOWIEQUOTE.jpg') no-repeat center fixed;     
        background-size: cover;
            }
            .testserv {
      
            }
            .imgdiv{
                max-width: 1100px;
                margin: 0 auto;
            }
            .innerdiv {
                max-width: 1100px;
                margin: 0 auto;
            }
            #carouselExampleControls {
                max-width: 1100px;
                margin: 0 auto;
             }
}