
body {
    background-image: url("pinkhair.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 3%;
    cursor: url(icon.jpg),auto;	
  }

  .contactme {
    background-image: url("pinkheadphones.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
  }

.contact {
    padding-top: 1%;
    text-align: center;
    margin-left: 70%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
    font-family: sans-serif;

}
  .title  {
      font-family: cursive;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: lightblue;
      font-size: 80px;
  }
.text {
    padding-top: 25%;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 75px;
    font-family: sans-serif;

}
.maintext {
    padding-top: 25%;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightblue;
    font-size: 75px;
    font-family: sans-serif;
    margin-right: 85%;
}
.nav-link {
    color: lightblue;
    font-weight: 700;
    text-shadow: grey;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
    font-family: sans-serif;
}
.center {
    padding-left: 50%;
}
.conme {
    color: deeppink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: deeppink;
  }
  .contitle {
    font-family: cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: deeppink;


}
.conbook {
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
}
.cellnum {
    color: black;
    font-size: 25px;
    margin-top: 0px;
}
.loc {
    color: black;
    font-size: 25px;
}
.loco  {
    font-family: cursive;
    font-size: 27px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: deeppink;
}
.book {
    background-image: url("BOWIEQUOTE.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
      /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.about {
    background-image: url("carrie.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 3%;
  }

.aboutme {
    color: aqua;
}
.abouttitle {
    font-family: cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: aqua;
}

h5 {
    color: aqua;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
}
.mebook {
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    background: black;
    width: 25%;
    align-self: center;
    margin-top: 20px;
}
.fun {
    color: aqua;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: whitesmoke;
}
.serve {
    background-image: url("rainbowhair.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 3%;
  }
  .sl {
    font-size: 75px;
    color: black;
    width: 1200px;
    height: 850px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkgreen;
    padding-top: 2%;
    padding-bottom: 2%;
    /*background-color: rgba(248, 248, 255, 0.3);*/
    margin-right: 5%;
    font-weight: bolder;
}
.list {
    color: black;
    -webkit-text-stroke-width: 1x;
    -webkit-text-stroke-color: cyan;
    font-weight: bolder;
}

.list h6 {
    font-weight: bolder;
    -webkit-text-stroke-width: 1x;
    -webkit-text-stroke-color: magenta;
}
.servbook, .reviewbook {
    color: cyan;
}
.galbod {
    background-color: purple;
    background-image: none;
}
.bookbuttondiv {
    margin-left:80%;
    margin-top: 40%;
}
.squarelink {
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    background: black;
    width: 25%;
    align-self: center;
}
.servebook, .reviewbook {
    margin-top: 20px;
    margin-left: 38%;
}
.scrolldiv img{
margin-top: 5%;
margin-left: 25%;
border: 5px solid black;
}
.iconimg {
    width: 60px;
    height: 60px;
    padding-right: 3px;
}
.am {
    font-size: 17px;
}
.mo {
    font-size: 60px;
    color: aqua;
    width: 600px;
    height: 600px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 2px;
    margin-top: 3%;
    line-height: 2px;  
}
.covidbody {
    background-image: url("db.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
      /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}


.coviddiv {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
    padding-top: 5%;
    background-size: cover;
    width: 100%;
   
}
.covidtext {
    align-items: center;
    width: 95%;
    color: black;
    display: inline;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;   
}
.covidtext li{
        background-color: rgba(211,211,211,0.5);
}
.covidbody  {
    background-color: rgba(211,211,211,0.5);
}
.covidheader {
    position: relative;
}

.coviddropdown {
    position: fixed;
    top:0;
    left:0;
}
.covidbutton {
    color: pink;
}
.covidbutton:hover {
    color: lightblue;
}
.covidbutton:visited {
    color: lightpink;
}
.dropbox {
    background-color: lightgray;
}
.droptext {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: lightpink;
font-family: sans-serif;
color:black;
}
.droptextmain {
 font-size: large;
}


    
/* For size adjustments

@media all and (max-width: 768px) {
    html, body {min-height: 100%;}
    .container, body, .contactme{
        width:100%;
        height: 100%;
    }
    .maintext, .servbook, .contact, .mo, 
    {
        left:25%;
        top:25%;
        position:absolute;
        width:50%;
        text-align:center;
    }
    .maintext, .servbook, .contact, .mo, {
        text-align:center;
         display: block;
        margin: 0 auto;
    }
    .contact {
        height: 40%;
        width: 40%;
    }
    .contact, .mo {
        margin-right: 10%;
        padding-top: 5%;
}
.bookbuttondiv, .bookbutton,  {
    margin-bottom: 2%;
}
*/
/*
.mainbody {
    background-image: url("pinkhair.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
 /*   background-repeat: no-repeat; /* Do not repeat the image 
    background-size: cover; /* Resize the background image to cover the entire container 
    padding-top: 3%;
    height: 100%;
    }
    .revbody {
        position: relative;
        max-width:100%;
        min-width: 100%;
    }
.scrolldiv, .revbook {

}


}
@media all and (max-width:640px){
    html, body {min-height: 100%;}
    .container, body, .contactme{
        width:100%;
        height: 100%;
    }
    .maintext, .servbook, .contact, .mo, 
    {
        width:50%;
        height:auto;
        display:inline-block;
        text-align:center;
        margin: 0 auto;
    }
    .maintext, .servbook, .contact, .mo, {
        text-align:center;
         display: block;
         margin: 0 auto;
    }
    .contact {
        height: 40%;
        width: 40%;
    }
    .contact {
        padding-top: 5%;
        margin-right: 10%;
}
.mo {
    height: 65%;
    width: 65%;
    padding-top: 10%;
    padding-right: 10%;
    background: none;
}
.bookbuttondiv, .bookbutton,   {
    margin-bottom: 2%;
}



.mainbody {
background-image: url("pinkhair.jpg");
background-color: #cccccc; /* Used if the image is unavailable 
background-repeat: no-repeat; /* Do not repeat the image 
background-size: ; /* Resize the background image to cover the entire container 
padding-top: 3%;
}
.revbody 
    {min-height: 100%;}

.scrolldiv, .revbook {

}

} 
*/


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
    max-width: 100%;
    height: auto;
    }
    .mainbody {
    background: url('pinkhair.jpg') no-repeat center fixed;     
    background-size: cover;
    }
    .about {
        background: url('carrie.jpg') no-repeat center fixed;     
        background-size: cover;
    }
    .revbody {
        background: url('rainbowhair.jpg') no-repeat center fixed;     
        background-size: cover;
            }
    .contactme {
        background: url('pinkheadphones.jpg') no-repeat center fixed;     
        background-size: cover;
            }
    .maintext {
        margin-left: 25%;
    }
    .mo {
        max-width: 80%;
        margin-left: 8%;
    } 
    .contact {
        margin-left: 250px; 
 }
 .loc {
     color: lightgray;
     -webkit-text-stroke-width: .5px;
     -webkit-text-stroke-color: lightgray;
 }

 .revdiv {
 
    
}
 .scrolldiv {
    max-width: 98%;
    width: auto;
    overflow-x: visible;
    padding-right: 500px; 
    margin-right: -500px; 
 }
 .scrolldiv img {
     margin-left: 1px;
 }
 .dropbox {
     width: 100px;
 }
 .dropbox > a {
    white-space: normal;
 }

}
/*// Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
     .mainbody {
        background: url('pinkhair.jpg') no-repeat center fixed;     
        background-size: cover;
            }
     .about {
        background: url('carrie.jpg') no-repeat center fixed;     
        background-size: cover;
            }
     .revbody {
        background: url('rainbowhair.jpg') no-repeat center fixed;     
        background-size: cover;
            }
    .contactme {
        background: url('pinkheadphones.jpg') no-repeat center fixed;     
        background-size: cover;
            }  
    .maintext {
        margin-left: 25%;
            }   
    .mo {
        max-width: 80%;
    } 
    .mebook {
        margin-bottom: 2%;
    }
    .contact {
        margin-left: 250px; 
 }
 .loc {
    color: lightgray;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: lightgray;
}
.revdiv {
    
    
}
 .scrolldiv {
    max-width: 98%;
    width: auto;
    overflow-x: visible;
    padding-right: 700px; 
    margin-right: -700px; 
 }
 .scrolldiv img {
    margin-left: 1px;
    width: auto;
}
.dropbox {
    width: 500px;
}
.dropbox > a {
   white-space: normal;
}
 }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
    .mainbody {
        background: url('pinkhair.jpg') no-repeat center fixed;     
        background-size: cover;
            }
    .about {
        background: url('carrie.jpg') no-repeat center fixed;     
        background-size: cover;
            }
    .revbody {
        background: url('rainbowhair.jpg') no-repeat center fixed;     
        background-size: cover;
                    }
    .contactme {
        background: url('pinkheadphones.jpg') no-repeat center fixed;     
        background-size: cover;
                    }
    .loc {
        color: lightgray;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: lightgray;
                    }
    .revdiv {
        
                        
                    }
    .scrolldiv {
        max-width: 98%;
        width: auto;
        overflow-x: visible;
        padding-right: 400px; 
        margin-right: -400px;  
 }
 .scrolldiv img {
    width: auto;
}
.dropbox {
    width: 500px;
}
.dropbox > a {
   white-space: normal;
}
 }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    body {
        max-width: 100%;
        height: auto;
        }
        .mainbody {
            background: url('pinkhair.jpg') no-repeat center fixed;     
            background-size: cover;
            }
    .about {
             background: url('carrie.jpg') no-repeat center fixed;     
            background-size: cover;
            }
    .revbody {
            background: url('rainbowhair.jpg') no-repeat center fixed;     
            background-size: cover;
                    }
    .contactme {
            background: url('pinkheadphones.jpg') no-repeat center fixed;     
            background-size: cover;
                            }
                            .scrolldiv {
                                max-width: 98%;
                                width: auto;
                                overflow-x: visible;
                                padding-right: 100px; 
                                margin-right: -100px;  
                         }
                         .scrolldiv img {
                            width: auto;
                        }
}
